*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Open Sans", sans-serif;

}
nav{
	display: block;
	background-color: white;
	height: 70px;
	width: 100vw;
	position: sticky;
	top: 0px;
	padding-right: 10px;
}
.nav-logo{
	display: inline-block;
	height: 50px;
	width: 50%;
	padding-left: 2rem;
	padding-top: 1rem;
	float: left;
	align-content: center;
}
.nav{
	display: inline-block;
	margin: 1px;
	padding-top: 1rem;
	padding-left: .7rem;
	padding-right: .7rem;
	font-weight: bold;
}
.right-nav{
	float: right;
}
.tuitt-button{
	display: inline-block;
	background-color: #c2195b;
	color: white;
	border-radius: 150px;
	height: 40px;
	width: 130px;
	border: none;
	font-weight: bold;
}
#bg-image{
	display: block;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center center;
	z-index: 2;
}
.front-bg{
	background-color: rgb(0, 0, 0, 0.6);
	background-size: 100%;
	z-index: 2;
}
.container{
	color: white;
	z-index: 4;
}
.container>.title{
	font-family: "Zilla Slab";
	font-size: 50px;
	text-align: right;
	padding-left: 50vw;
	margin-right: 80px;
	padding-top: 20px;
}
.container>.subtitle{
	display: block;
	padding-left: 60vw;
	font-family: "open sans";
	font-size: 20px;
	text-align: right;
	margin-right: 80px;
	margin-top: 20px;
}
.apply-button{
	display: inline-block;
	background-color: #c2195b;
	color: white;
	border-radius: 150px;
	height: 40px;
	width: 130px;
	border: none;
	font-weight: bold;
	margin-left: 87%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.intro>.title-2{
	font-family: "Zilla Slab";
	font-size: 40px;
	text-align: center;
	display: block;
	padding-top: 80px;
	padding-bottom: 80px;
}
.intro-description{
	display: block;
	font-family: "open sans";
	font-size: 20px;
	text-justify: justify;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 80px;
}

.pre-footer{
	background-color: #f7fbfb;
	display: block;
	text-align: center;
	padding-bottom: 80px;
}
.pre-footer>.title-2{
	font-family: "Zilla Slab";
	font-size: 40px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.prefooter-description{
	font-family: "open sans";
	font-size: 20px;
	text-justify: justify;
	padding-left: 20%;
	padding-right: 20%;
	margin-bottom: 30px;
}
.book-button{
	background-color: #336589;
	color: white;
	border-radius: 150px;
	height: 40px;
	width: 130px;
	border: none;
	font-weight: bold;
}
footer{
	text-align: center;
}